* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.ant-layout {
    min-height: 100%;
}

.add-products {
    margin-bottom: 24px;
}

.demo-logo-vertical {
    color: white;
    margin: 10px;
}

/* charts style ======= */

.users {
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 24px 0;
    margin-left: 45px;
}

.users-num {
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hotpink;
    border-radius: 8px;
}

.users-balance {
    background-color: bisque;
    padding: 0;
}

/* dashboard style ======= */

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}