* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
}

#root {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.ant-layout {
    height: 100vh;
}

.demo-logo-vertical {
    color: white;
    margin: 10px;
}